#main {
  position: relative;
  width: 100%;
}
#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rightside {
  position: relative;
}
#sketchpad {
  height:700px;
  width: 1000px;
  border:2px solid #888;
  box-shadow: 0 0 10px black;
  border-radius:4px;
  position:relative; /* Necessary for correct mouse co-ords in Firefox */
  z-index: 1;
}

#letterLayer {
  height: 700px;
  width:1000px;
  pointer-events: none;
  opacity: .1;
  font-size: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}
#controlPanel {
  width: 70%;
  position: fixed;
  bottom: 0;
  left: 15%;
  height: 50px;
  background-color: gray;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  z-index: 99;
  box-shadow: 0 0 10px black;
}
#iconColorPallet {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#colorPallet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#colorList {
  width: 100%;
  list-style: none;
  display: flex;
}
#colorList:first-child {
margin-left: 0;
}
#colorList li {
  width: 5%;
  height: 35px;
  border: 1px solid black;
  transition: .25s;
  margin-left: 1%;
}
#colorList li:hover {
  opacity: .3;
  color: black;
  cursor: pointer;
}
#contolPanelBtns {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
#btnRandLetter {
  margin-left: 10%;
}

.btnStyles {
  width: 30%;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px black;
  color: white;
  transition: .25s;
  margin-left: 15%;
}

.btnStyles:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#popUp {
  display: none;
  width: 15%;
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  border: 2px solid black;
  box-shadow: 0 0 5px black;
  z-index: 999;
}
#imgHappy {
  width: 100%;
  z-index: 999;
}

.spinner {
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
}


@keyframes spin {
  from { transform: scale(.1,.1) skew(0deg) rotate(0deg); }
  to { transform: scale(1,1) skew(0deg) rotate(360deg); }
}

#hiddenPanel1 {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: -30px;
  left: 17.5%;
  height: 70px;
  background-color: gray;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transition: .25s;
  z-index: 98;
  box-shadow: 0 0 10px black;
}
.palletIcon {
  border-left: 1px solid black;
  padding-left: 2%;
  padding-right: 2.1%;
  border-right: 1px solid black;
  margin-left: 20%;
  box-shadow: 0 0 5px black;
}
.palletIcon:hover {
  background-color: white;
  cursor: pointer;
}
#hiddenPanel2 {
  width: 65%;
  display: flex;
  position: fixed;
  bottom: -55px;
  left: 17.5%;
  height: 95px;
  background-color: gray;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transition: .25s;
  z-index: 98;
  box-shadow: 0 0 10px black;
}
.slideIn {
  animation: slideIn .3s linear;
  -webkit-animation: slideIn .3s linear;
  -moz-animation: slideIn .3s linear;
  animation-fill-mode: forwards;
}
.letterList {
  width: 100%;
  display: block;
  list-style: none;
}
#letterList1:first-child {
  margin-left: 0;
}
#letterList1 li {
  display: inline-block;
  width: 3.1%;
  background-color: white;
  height: 35px;
  margin-left: .01%;
  text-align: center;
  font-size: 2vw;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
}

@keyframes slideIn {

  from {bottom: -20px;}
  to {bottom: 50px;}

}
@media screen and (orientation:portrait)
{
  #popUp {
    right: 5%;
  }
  #controlPanel {
    width: 100%;
    left: 0;
    height: 200px;
    border-left: none;
    border-right: none;
  }
  #hiddenPanel1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: -160px;
    left: 5%;
    height: 350px;

  }
  #hiddenPanel2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: -160px;
    left: 5%;
    height: 350px;
  }
  #colorList {
    flex-wrap: wrap;
  }
  #colorList li {
    width: 10%;
    height: 70px;
    border: 2px solid black;
    transition: .25s;
    margin-left: .7%;
    margin-top: 1%;
  }
  #letterList1 li {
    width: 6%;
    background-color: white;
    height: 50px;
    margin-top: 1.5%;
    text-align: center;
    font-size: 4vw;
    border: 2px solid black;
  }
  #palletIcon,#letterIcon {
    font-size: 150px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
  }
  .palletIcon {
  margin-left: 15%;
  }
  .btnStyles {
    height: 100px;
    font-size: 3vw;
    margin-top: 50px;
    width: 38%;
    margin-left: 5%;
  }
}
@media screen and (orientation:landscape)
{
  .rightside {
    margin-left: 50px;
  }
}
