#main {
  position: relative;
  width: 100%;
}
#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rightside {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sketchpad {
  height:700px;
  width: 1000px;
  border:2px solid #888;
  box-shadow: 0 0 10px black;
  border-radius:4px;
  position:relative; /* Necessary for correct mouse co-ords in Firefox */
  z-index: 1;
}

#letterLayer {
  height: 700px;
  width:1000px;
  pointer-events: none;
  opacity: .1;
  font-size: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}
#controlPanel {
  width: 70%;
  position: fixed;
  bottom: 0;
  left: 15%;
  height: 50px;
  background-color: gray;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  z-index: 99;
  box-shadow: 0 0 10px black;
}
#iconColorPallet {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


#contolPanelBtns {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
#btnRandLetter {
  margin-left: 10%;
}

.btnStyles {
  width: 30%;
  background-color: blue;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 10px black;
  color: white;
  transition: .25s;
  margin-left: 15%;
}

.btnStyles:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#popUp {
  display: none;
  width: 15%;
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  border: 2px solid black;
  box-shadow: 0 0 5px black;
  z-index: 999;
}
#imgHappy {
  width: 100%;
  z-index: 999;
}

.spinner {
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
}


@keyframes spin {
  from { transform: scale(.1,.1) skew(0deg) rotate(0deg); }
  to { transform: scale(1,1) skew(0deg) rotate(360deg); }
}

#hiddenPanel1,#hiddenPanel2 {
  width: 200px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: -210px;
  height: 600px;
  background-color: gray;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transition: .25s;
  z-index: 100;
  box-shadow: 0 0 10px black;
}
.btnClosePanel {

  position: absolute;
  right: 5%;
  bottom: 1%;
  z-index: 1000;

}
#letterIcon{
  width:100px;
  text-align: center;
}
#palletIcon {
  width:100px;
  text-align: center;
}
.palletIcon {
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: 20%;
  box-shadow: 0 0 5px black;
}
.palletIcon:hover {
  background-color: white;
  cursor: pointer;
}

.slideIn {
  animation: slideIn .3s linear;
  -webkit-animation: slideIn .3s linear;
  -moz-animation: slideIn .3s linear;
  animation-fill-mode: forwards;
}
#colorList {
  width: 450px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#colorList:first-child {
margin-left: 0;
}
#colorList li {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  transition: .25s;
  margin-left: 5px;
}
#colorList li:hover {
  opacity: .3;
  color: black;
  cursor: pointer;
}
.letterList {
  margin: 0;
  width: 100%;
  list-style: none;
  margin-right: 10%;
}

.letterList li {
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border: 2px solid black;
  box-shadow: 0 0 7px black;
  margin-top: 20%;
}
.letterList li:hover {
  opacity: .3;
}

#closePanelIcon1, #closePanelIcon2 {
  font-size: 3.5vw;
  margin-left: 0;

}

#canvasChangeIcon {
  width: 75px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-left: 2px solid black;
  border-top: 2px solid black;
  box-shadow: 0 0 5px black;
  padding-right: 1%;
  padding-left: 1%;
}

#canvasChangeIcon:hover {
  background-color: white;
  cursor: pointer;
}

@keyframes slideIn {

  from {left: -210px;}
  to {left: 0;}

}
@media screen and (orientation:portrait)
{
  #sketchpad {
    margin-left: 0;
    border: none;
    border-bottom: 3px solid #888;
    box-shadow: 0 4px 10px -2px black;
  }

  #popUp {
    right: 5%;
  }
  #controlPanel {
    width: 100%;
    left: 0;
    height: 200px;
    border-left: none;
    border-right: none;
  }

  #hiddenPanel1, #hiddenPanel2 {
    height: 1200px;
    width: 450px;
    left: -460px;
  }
  @keyframes slideInPortrait {

    from {left: -460px;}
    to {left: 0;}

  }
  #colorList {
    flex-wrap: wrap;
  }
  #colorList li {
    width: 20%;
    height: 70px;
    margin-left: 3%;
  }

  .letterList li {
    font-size: 45px;
    width: 90%;
  }

  #palletIcon,#letterIcon {
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    width:200px;
    height: 95px;
    display: flex;
    margin-left: 8%;
    flex-direction: column;
    justify-content: center;
  }
  .palletIcon {
  margin-left: 15%;
  }
  .btnStyles {
    height: 100px;
    font-size: 3vw;
    margin-top: 50px;
    width: 38%;
    margin-left: 5%;
  }
  #closePanelIcon1, #closePanelIcon2 {
    font-size: 8vw;
  }
}
@media screen and (orientation:landscape)
{

}
